@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Continuous Integration & Continuous Delivery project</h1>
    <p>New updated text after running first pipeline.</p>
    <p>Pipeline is now completed</p>
</div>
